body{

    background-color: #f1f5fc;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
    
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid #123B89;
    text-align: center;
    font-size: 20px;
}

.blank {
    background-color: #D3E3FF;
}

.topcss{
    margin-top: 50px;
    margin-left: 20px;
}

.title{
    margin-left: 20px;
}

.formNum{
    margin-top: 20px;
    margin-left: 20px;
}